<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View Mahasiswa</title>
</head>
<body>
<h2>View Mahasiswa</h2>
<table border="1">
    <thead>
        <th>No</th>
        <th>Nim</th>
        <th>Nama</th>
        <th>Aksi</th>
    </thead>
    <tbody>
        {% for mhs in mahasiswa %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{mhs.nim}}</td>
            <td>{{mhs.name}}</td>
            <td>
                <a href="#">Edit</a>
                <a href="#">Hapus</a>
            </td>

        </tr>
        {%endfor%}
    </tbody>
</table>    
</body>
</html>